.container {
    position: relative;
    width: 672px;
    height: 392px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    /* Prevents images from overflowing */
}

/* Base styles for images inside the container */
.container img {
    position: absolute;
    max-width: 100%;
    max-height: 100%;
}

/* Ensure the background stays fixed in place */
.bassin {
    height: 75%;
    width: auto;
    z-index: 4;
}

.partogramme_interior {
    height: 90%;
    z-index: 1;
}

.partogramme_contour {
    height: 100%;
    z-index: 2;
}

.simplified_schematic_interior {
    height: 90%;
    z-index: 1;
}

.simplified_schematic_contour {
    z-index: 2;
}


.image-cycling-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    /* Ensure the container takes full width */
    height: 300px;
    /* Set fixed height */
    margin-bottom: 20px;
    /* Space between image cycling containers */
}

.image-cycling-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    /* Ensure the container takes full width */
    height: 300px;
    /* Set fixed height */
    margin-bottom: 20px;
    /* Space between image cycling containers */
}

.background-image,
.cycling-image {
    position: absolute;
    /* Stack on top of each other */
    top: 0;
    left: 0;
    width: 100%;
    /* Ensure they take the full container width */
    height: 100%;
    /* Ensure they maintain the aspect ratio */
    object-fit: contain;
    /* Ensure images maintain their aspect ratio */
}

.cycling-image {
    z-index: 2;
    /* Image in front */
}

.background-image {
    z-index: 1;
    /* Background image */
}

.prev-btn,
.next-btn,
.toggle-btn {
    background: #ddd;
    border: none;
    font-size: 20px;
    padding: 5px 10px;
    cursor: pointer;
    position: absolute;
    bottom: 10px;
    /* Place buttons at the bottom */
    z-index: 3;
    /* Ensure buttons are clickable */
}

.prev-btn {
    left: 10px;
}

.next-btn {
    right: 10px;
}