.container {
    position: relative;
    width: 672px;
    height: 392px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    /* Prevents images from overflowing */
}

/* Base styles for images inside the container */
.container img {
    position: absolute;
    max-width: 100%;
    max-height: 100%;
}

/* Ensure the background stays fixed in place */
.bassin {
    height: 100%;
    width: auto;
    z-index: 4;
}



.partogramme_interior {
    width: 275px;
    z-index: 1;
}

.partogramme_contour {
    max-width: 300px;
    z-index: 2;
}

.simplified_schematic_interior {
    width: 150px;
    z-index: 1;
}

.simplified_schematic_contour {
    z-index: 2;
}